<%@ input ({idPrefix:'string',width:'number',height:'number'}) %>
<%@ required ('UizeSite.Templates.SlideShow') %>
<%@ startBlock ('viewHtml') %>
<img id="<% .idPrefix %>-slide_image" width="<% .width %>" height="<% .height %>" src="../images/blank.gif" alt=""/>
<%@ endBlock () %>
<%= UizeSite.Templates.SlideShow.process ({idPrefix:input.idPrefix,viewHtml:viewHtml ()}) %>
