<%@
	required ('Uize.Widgets.BoxWithHeading.Html');
%><%=
	Uize.Widgets.BoxWithHeading.Html.process.call (
		m,
		Uize.copy (
			input,
			{
				heading:'WIDGET CLASS: ' + m.Class.widgetClass.moduleName,
				body:m.childHtml ({name:'samples'})
			}
		)
	)
%>
