<%@
	required ('Uize.Widgets.BoxWithHeading.Html');
%><%
	var _this = this;
%><%=
	Uize.Widgets.BoxWithHeading.Html.process.call (
		_this,
		Uize.copy (
			input,
			{
				heading:'WIDGET CLASS: ' + _this.Class.widgetClass.moduleName,
				body:_this.childHtml ({name:'samples'})
			}
		)
	)
%>
