<%@
	required ('UizeDotCom.Templates.IndexPage');
	input ({files:'array'});
%><%= UizeDotCom.Templates.IndexPage.process ({
	title:'JavaScript Explainers',
	description:'The documentation of the UIZE JavaScript Framework includes many informative and comprehensive explainers that discuss various topics in great detail.',
	files:input.files
}) %>

