<%@
	required ('UizeDotCom.Templates.SimpleDoc');
	input ({title:'string',description:'string',body:'string'});
%><%=
	UizeDotCom.Templates.SimpleDoc.process ({
		title:input.title,
		description:input.description || 'This is a content document for the UIZE JavaScript Framework.',
		body:input.body
	})
%>

