<div id="<% .idPrefix %>" class="<%= this.rootNodeCssClasses () %>">
	<div class="<%= this.cssClass ('box') %>">
		<div id="<% .idPrefix %>-title" class="<%= this.cssClass ('title') %>"></div>
		<div id="<% .idPrefix %>-description" class="<%= this.cssClass ('description') %>"></div>
		<div class="<%= this.cssClass ('keywords') %>">TAGS: <span id="<% .idPrefix %>-keywords"></span></div>
	</div>
</div>
