<div id="<%= this.nodeId () %>" class="<%= this.rootNodeCssClasses () %>">
	<div id="<%= this.nodeId ('track') %>" class="<%= this.cssClass ('track') %>">
		<div class="<%= this.cssClass ('trackBg') %>"></div>
		<div id="<%= this.nodeId ('full') %>" class="<%= this.cssClass ('trackFull') %>"></div>
		<div id="<%= this.nodeId ('empty') %>" class="<%= this.cssClass ('trackEmpty') %>"></div>
		<div id="<%= this.nodeId ('statusText') %>" class="<%= this.cssClass ('statusText') %>"></div>
	</div>
</div>

