<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>2009-05-23 - NEW DOCUMENTATION: Uize.Widget.Page | News | UIZE JavaScript Framework</title>
	<meta name="keywords" content="UIZE JavaScript Framework News "/>
	<meta name="description" content="Reference documentation has been added for the Uize.Widget.Page module. READ IT NOW"/>
	<link rel="alternate" type="application/rss+xml" title="UIZE JavaScript Framework - Latest News" href="http://www.uize.com/latest-news.rss"/>
	<link rel="stylesheet" href="../css/page.css"/>
	<link rel="stylesheet" href="../css/page.simpledoc.css"/>
</head>

<body>

<script type="text/javascript" src="../js/Uize.js"></script>

<h1 class="document-title">
	<a id="page-homeLink" href="../index.html" title="UIZE JavaScript Framework home"></a>
	
	<a href="../news-2009.html" class="breadcrumb breadcrumbWithArrow">2009 NEWS</a>
	2009-05-23 - NEW DOCUMENTATION: Uize.Widget.Page

</h1>

<div class="main">
<div class="contents0">
	<p>Reference documentation has been added for the <code><a href="../reference/Uize.Widget.Page.html">Uize.Widget.Page</a></code> module. <a href="../reference/Uize.Widget.Page.html">READ IT NOW</a></p>
</div>

</div>

<script type="text/javascript">

Uize.module ({
	required:[
		'UizeDotCom.Page.Doc.library',
		'UizeDotCom.Page.Doc'
	],
	builder:function () {(window.page = new UizeDotCom.Page.Doc).wireUi ()}
});

</script>

</body></html>



