<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ required ('UizeDotCom.Templates.Footer') %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><% .title %> | UIZE JavaScript Framework</title>
	<meta name="keywords" content="UIZE JavaScript Framework"/>
	<meta name="description" content="<% .description %>"/>
	<link rel="alternate" type="application/rss+xml" title="UIZE JavaScript Framework - Latest News" href="http://www.uize.com/latest-news.rss"/>
	<link rel="stylesheet" href="css/page.css"/>
	<link rel="stylesheet" href="css/page.simpledoc.css"/>
	<link rel="stylesheet" href="css/page.index.css"/>
</head>

<body>

<script type="text/javascript" src="js/Uize.js"></script>

<h1 class="document-title">
	<a id="page-homeLink" href="index.html" title="UIZE JavaScript Framework home"></a>
	<% .title %>
</h1>

<div class="main">

<div class="preamble">
	<% .description %>
	<% .extraPreambleContent %>
</div>

<ul id="page-index">
<%
	for (var _fileNo = -1, _files = input.files, _filesLength = _files.length; ++_fileNo < _filesLength;) {
		var _file = _files [_fileNo];
%>
	<li>
		<div class="itemTitle"><a href="<%= _file.path %>"><%= _file.title %></a><span class="arrow">&nbsp;</span></div>
		<div class="itemBody"><%
			if (_file.imageSrc) {
		%><a href="<%= _file.path %>"><img src="<%= _file.imageSrc %>" class="fileThumbnail"/></a><%
			}
		%><%= _file.description %></div><%
			if (_file.imageSrc) {
		%><br style="clear:both;"/><%
			}
		%>
	</li>
<% } %>
</ul>

</div>

<script type="text/javascript">

Uize.module ({
	required:[
		'UizeDotCom.Page.Doc.library',
		'UizeDotCom.Page.Index'
	],
	builder:function () {(window.page = new UizeDotCom.Page.Index).wireUi ()}
});

</script>

</body></html>
