<%@
	required ('UizeSite.Templates.SimpleDoc');
	input ({title:'string',description:'string',body:'string'});
%><%=
	UizeSite.Templates.SimpleDoc.process ({
		title:'TO DO - ' + input.title,
		section:'TO DO',
		description:input.description || 'This is a TO DO list for the UIZE JavaScript Framework.',
		pathToRoot:'../',
		body:input.body
	})
%>

