# renamed or relocated pages
	# migrated TODO documents
		Redirect 301 /appendixes/to-do-documentation.html http://www.uize.com/todo/documentation.html
		Redirect 301 /appendixes/to-do-general.html http://www.uize.com/todo/general.html
		Redirect 301 /appendixes/to-do-news-announcements.html http://www.uize.com/todo/news-announcements.html
		Redirect 301 /appendixes/to-do-modules.html http://www.uize.com/todo/modules.html

	# renamed examples
		Redirect 301 /examples/window-draggable.html http://www.uize.com/examples/dialog.html
		Redirect 301 /examples/window-resizable.html http://www.uize.com/examples/dialog-resizable.html
		Redirect 301 /examples/source-code/window-draggable.html http://www.uize.com/examples/source-code/dialog.html
		Redirect 301 /examples/source-code/window-resizable.html http://www.uize.com/examples/source-code/dialog-resizable.html
		Redirect 301 /examples/pretty-json-serializing.html http://www.uize.com/examples/json-prettifier.html

	# renamed guides
		Redirect 301 /explainers/all-about-events.html http://www.uize.com/guides/javascript-event-system.html
		Redirect 301 /explainers/all-about-modules.html http://www.uize.com/guides/javascript-modules.html
		Redirect 301 /explainers/all-about-simpledoc.html http://www.uize.com/guides/javascript-documentation-system.html
		Redirect 301 /explainers/all-about-templates.html http://www.uize.com/guides/javascript-templates.html
		Redirect 301 /explainers/all-about-widgets.html http://www.uize.com/guides/javascript-widgets.html
		Redirect 301 /explainers/javascript-inheritance.html http://www.uize.com/guides/classes-and-inheritance.html
		Redirect 301 /explainers/modules.html http://www.uize.com/guides/javascript-modules.html
		Redirect 301 /explainers/set-get-properties.html http://www.uize.com/guides/state-properties.html
		Redirect 301 /tools/scruncher/introduction-to-the-scruncher.html http://www.uize.com/guides/all-about-scrunching.html
		RedirectMatch 301 ^/explainers/(.+)$ http://www.uize.com/guides/$1

	# renamed modules
		Redirect 301 /reference/Uize.serialize.html http://www.uize.com/reference/Uize.Json.html
		Redirect 301 /reference/Uize.DataFace.html http://www.uize.com/reference/Uize.Node.html
		RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Widget\.TextInputAdder\.html$ http://www.uize.com/$1/Uize.Widget.ListEditor.html
		RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.DocSucker\.html$ http://www.uize.com/$1/Uize.Doc.Sucker.html
		RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.SimpleDoc\.html$ http://www.uize.com/$1/Uize.Doc.Simple.html
		RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Coupler\.html$ http://www.uize.com/$1/Uize.Util.Coupler.html
		RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Cycle\.html$ http://www.uize.com/$1/Uize.Util.Cycle.html
		RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Population\.html$ http://www.uize.com/$1/Uize.Widget.Population.html
		RedirectMatch 301 ^(.*)/UizeDotCom\.(.*)$ http://www.uize.com/$1/UizeSite.$2
		RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Fade\.x(Factory|Series)\.html$ http://www.uize.com/$1/Uize.Fade.m$3.html
		RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Widget\.(ImageWipe|Swap)\.xPresets\.html$ http://www.uize.com/$1/Uize.Widget.$3.Themes.html
		RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Cookie\.html$ http://www.uize.com/$1/Uize.Util.Browser.Cookies.html

		# renamed build modules
			RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Scruncher\.html$ http://www.uize.com/$1/Uize.Build.Scruncher.html
			RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Wsh\.BuildUtils\.html$ http://www.uize.com/$1/Uize.Build.Util.html
			RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Wsh\.(AuditStrings|AutoScruncher|BuildSimpleDataPages|CompileJstModules|NeatenJsFiles|UpdateCopyrightNotices)\.html$ http://www.uize.com/$1/Uize.Build.$3.html
			RedirectMatch 301 ^/(reference(/source-code)?)/UizeDotCom\.BuildUtils\.html$ http://www.uize.com/$1/UizeDotCom.Build.Util.html

		# killed modules
			RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Subclass\.html$ http://www.uize.com/javascript-modules-index.html

		# deprecated Uize.Widget.Window.* modules
			RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Widget\.Window(\.Draggable)?\.html$ http://www.uize.com/$1/Uize.Widget.Dialog.html
			RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Widget\.Window\.Resizable\.html$ http://www.uize.com/$1/Uize.Widget.Dialog.xResizable.html

		# deprecated Uize.Widget.Palette.* modules
			RedirectMatch 301 ^/(reference(/source-code)?)/Uize\.Widget\.Palette(\.(Confirm|Form|Iframe))?.html$ http://www.uize.com/$1/Uize.Widget.Dialog$3.html

	# misc
		Redirect 301 /credits.html http://www.uize.com/appendixes/credits.html
		Redirect 301 /appendixes/coding-style-guide.html http://www.uize.com/appendixes/javascript-code-conventions.html
		Redirect 301 /appendixes/license-agreement.html http://www.uize.com/license.html

	# renamed tools
		Redirect 301 /tools/curve-explorer.html http://www.uize.com/examples/curve-explorer.html
		Redirect 301 /tools/javascript-template-tester.html http://www.uize.com/examples/javascript-template-tester.html
		Redirect 301 /tools/json-prettifier.html http://www.uize.com/examples/json-prettifier.html
		Redirect 301 /tools/scruncher/index.html http://www.uize.com/examples/javascript-scruncher.html
		Redirect 301 /tools/simple-data-tester.html http://www.uize.com/examples/simple-data-tester.html
		Redirect 301 /tools/simple-doc-tester.html http://www.uize.com/examples/simple-doc-tester.html
		Redirect 301 /tools/simple-doc/index.html http://www.uize.com/examples/simple-doc-tester.html
		Redirect 301 /javascript-tools.html http://www.uize.com/javascript-tool-examples.html

# killed pages
	Redirect 301 /appendixes/known-bugs-and-issues.html http://www.uize.com
	Redirect 301 /examples.html http://www.uize.com/javascript-examples.html
	RedirectMatch 301 ^/(about|blog|community|documentation|welcome-to-uize)\.html$ http://www.uize.com

# prevent folder browsing
	RedirectMatch 301 ^/appendixes/?$ http://www.uize.com/appendixes.html
	RedirectMatch 301 ^/examples/?$ http://www.uize.com/javascript-examples.html
	RedirectMatch 301 ^/(explainers|guides)/?$ http://www.uize.com/javascript-guides.html
	RedirectMatch 301 ^/javascript-reference/?$ http://www.uize.com/javascript-reference.html
	RedirectMatch 301 ^/news/?$ http://www.uize.com/latest-news.html
	RedirectMatch 301 ^/reference/?$ http://www.uize.com/javascript-modules-index.html
	RedirectMatch 301 ^/tests/?$ http://www.uize.com/examples/uize-unit-tests.html
	RedirectMatch 301 ^/tools/?$ http://www.uize.com/javascript-tool-examples.html
	RedirectMatch 301 ^/widgets/?$ http://www.uize.com/javascript-widgets.html

# using images from tomkidding.com Web site
	RedirectMatch 301 ^/photos/(.*)/(.*)$ http://www.tomkidding.com/artworks/photos/small/$2

# custom 404 error page
	ErrorDocument 404 /404.html

