<%@
	required ('UizeSite.Templates.IndexPage');
	input ({files:'array'});
%><%= UizeSite.Templates.IndexPage.process ({
	title:'JavaScript Reference',
	description:'As a convenience, the documentation of the UIZE JavaScript Framework includes reference documentation for the JavaScript language.',
	files:input.files
}) %>

