<a id="<%= this.nodeId () %>">
	<span id="<%= this.nodeId ('text') %>"  class="<%= this.cssClass ('text') %>">
		<%. text %>
	</span>
	<span class="<%= this.cssClass ('onIndicator') %>"></span>
</a>

