/*** General ***/
	/*** Common Properties ***/
		body {
			background: #ccc;
			margin: 48px 0 0 0;
			_margin-top: 0; /* hack for IE6, because the title isn't fixed positioned for this browser */
		}
		.main {
			width: 780px;
			padding: 15px 14px;
			margin: 0 auto 0 auto;
			background: #f0f0f0;
			border-left: 1px solid #999;
			border-right: 1px solid #999;
			padding-bottom: 0;
		}
		body, p, blockquote, td, ol {
			color: #000;
			font-family: Arial, Helvetica, Verdana;
			font-size: 13px;
		}
		ul li {
			list-style-type: disc;
		}
		/*** links ***/
			a, a:link, a:visited, a:hover, a:active {
				text-decoration: none;
				outline: none;
				color: #830;
				border-bottom: 1px dotted #aaa;
			}
			a:hover, a:active {
				color: #f00;
			}
			a:hover {
				border-bottom: 1px dotted #f00;
			}
			a:active {
				border-bottom: 1px solid #f00;
			}
			/*** special decoration for external site links ***/
				a.externalSiteLink {
					padding-right: 13px;
					margin-left: 1px;
					margin-right: 2px;
					background: url(../images/external-link.png) right top no-repeat;
				}

	/*** plain old links styled like buttons, and button widget ***/
		a.buttonLink, a.buttonLink:link, a.buttonLink:visited,
		.button, .button:link, .button:visited, .button:hover, .button:active
		{
			font-weight: bold;
			display: inline-block;
			border-width: 1px;
			border-style: solid;
			border-radius: 3px;
			text-decoration: none;
			cursor: pointer;
			font-size: 13px;
			line-height: 13px;
			padding: 6px 9px 7px 9px;
			border-color: #ccc #999 #999 #ccc;
			text-align: center;
			color: #444;
			text-shadow: 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff;
			background: #eeeeee; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
		}

		a.buttonLink:hover,
		.buttonOver, .buttonOver:link, .buttonOver:visited, .buttonOver:hover, .buttonOver:active
		{
			border-color: #aaa #777 #777 #aaa;
			color: #222;
			text-shadow: 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff;
			background: #efefef;
			filter: none;
		}

		a.buttonLink:active,
		.buttonActive, .buttonActive:link, .buttonActive:visited, .buttonActive:hover, .buttonActive:active
		{
			border-color: #666;
			color: #000;
			text-shadow: 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff;
			box-shadow: inset 0 2px 4px rgba(0,0,0,.1);
			background: #fff;
			filter: none;
		}

		.buttonGrayed, .buttonGrayed:link, .buttonGrayed:visited, .buttonGrayed:hover, .buttonGrayed:active {
			border-color: #d3d3d3;
			background: #e6e6e6;
			filter: none;
			color: #bbb;
			text-shadow: none;
			cursor: default;
		}

	code {
		white-space: nowrap;
		color: #830;
		margin-left: 2px;
		margin-right: 2px;
	}

	/*** form fields ***/
		input[type="text"], textarea, select {
			border: 1px solid #555;
			color: #000;
			background: #fff;
			padding: 2px;
		}
		input[type="text"]:focus, textarea:focus, select:focus {
			border: 2px solid #ffa200;
			padding: 1px;
		}

	/*** tooltips ***/
		.genericTooltip {
			display: none;
			font-size: 11px;
			color: #fff;
			padding: 1px 6px;
			background: #000;
			border: 3px solid #333c44;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			max-width: 260px;
			_width: 260px; /* hack for IE6 (which doesn't support max-width) */
		}

	/*** features list ***/
		.featuresList, .featuresList li {
			padding-left: 0;
			margin-left: 10px;
		}
		.featuresList li {
			font-size: 12px;
			list-style-image: url(../images/icons/check-mark.gif);
			padding-bottom: 5px;
		}

/*** Document Components ***/
	/*** document title bar ***/
		.document-title {
			display: block;
			position: fixed;
			_position: relative; /* hack for IE6, because the title isn't fixed positioned for this browser */
			z-index: 1; /* needed for FF, or some things in document display above title */
			left: 0;
			top: 0;
			width: 100%;
			_width: auto; /* hack for IE6, because the z-index can't be overrided back to auto, and because the z-index seems to cause the homeLink icon to be overpainted */
			font-family: Arial, Helvetica, Verdana;
			font-size: 16px;
			letter-spacing: 3px;
			text-align: left;
			color: #444;
			font-weight: bold;
			text-shadow: 1px -1px 1px #fff, 1px 1px 1px #fff;
			padding: 14px 8px 14px 60px;
			margin: 0;
			border: none;
			box-shadow: 0 1px 12px rgba(0,0,0,.3);

			/*** gradient ***/
				background: #ffffff; /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
		}
		.document-title a:link, .document-title a:visited, .document-title a:hover, .document-title a:active {
			color: #444;
		}

		/*** breadcrumb link ***/
			.breadcrumb,
			.breadcrumb:link,
			.breadcrumb:visited
			{
				border: none;
			}
			.breadcrumb:hover {
				border-bottom: 1px dotted #000;
			}
			.breadcrumb:active {
				border-bottom: 1px solid #000;
			}
			.breadcrumbWithArrow {
				background: transparent url(../images/icons/black-dotty-arrow-right.gif) no-repeat right 5px;
				padding-right: 14px;
			}

		/*** home link ***/
			#page-homeLink,
			#page-homeLink:link,
			#page-homeLink:visited,
			#page-homeLink:hover,
			#page-homeLink:active,
			.siteMenuIcon {
				position: absolute;
				display: block;
				left: 4px;
				_left: -47px; /* hack for IE6, because its context for absolute positioning is the box excluding padding */
				top: 4px;
				width: 38px;
				height: 38px;
				background: transparent url(../images/uize-logo-title-bar.gif) no-repeat left top;
				border: none;
			}

		/*** page actions ***/
			.document-title .pageActions {
				position: absolute;
				right: 77px;
				_right: 7px; /* hack for IE6, because the title isn't fixed positioned for this browser */
				top: 10px;
				letter-spacing: 0;
			}
			.document-title .pageActions .buttonLink {
				margin: 0 1px;
			}

	/*** preamble paragraph ***/
		.preamble {
			position: relative;
			background: #fff;
			padding: 15px;
			margin: 0 15px 25px 15px;
			border: 1px solid #ccc;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}

/*** tree menu ***/
	/*** menu ***/
		.menuShell {
			background: #afb6b8;
			height: 23px;
		}
		.menuShell .menuItem,
		.menuShell .menuItem:link,
		.menuShell .menuItem:visited,
		.menuShell .menuItem:hover,
		.menuShell .menuItem:active {
			padding: 2px 10px 2px 10px;
			height: 20px;
			text-align: center;
			font-family: Arial;
			font-size: 16px;
			background: none;
			border: none;
			color: #000;
			margin: 0 1px;
			float: left;
			text-decoration: none;
			white-space: nowrap;
		}
		.menuShell .menuItemActive,
		.menuShell .menuItemActive:link,
		.menuShell .menuItemActive:visited,
		.menuShell .menuItemActive:hover,
		.menuShell .menuItemActive:active {
			color: #fff;
			background-color: #456;
		}
		.menuShell .menuItemWithChildren,
		.menuShell .menuItemWithChildren:link,
		.menuShell .menuItemWithChildren:visited,
		.menuShell .menuItemWithChildren:hover,
		.menuShell .menuItemWithChildren:active {
			padding-right: 20px;
			background-image: url(../js/Uize_Widget_Tree_List/arrows-black-expanded.gif);
			background-attachment: scroll;
			background-repeat: no-repeat;
			background-position: 95% 50%;
		}
		.menuShell .divider {
			font-size: 0;
			float: left;
			height: 20px;
			margin: 2px 4px;
			border-left: solid 1px #aaa;
			border-right: solid 1px #333;
		}

	/*** submenu ***/
		.subMenuShell {
			display: none;
			position: absolute;
			padding: 5px 0;
			background: #fff;
			border: 1px solid #dee;
			border-right-color: #889094;
			border-bottom-color: #889094;
			box-shadow: 0 0 14px rgba(0,0,0,.3);
			-moz-box-shadow: 0 0 14px rgba(0,0,0,.3);
			-webkit-box-shadow: 0 0 14px rgba(0,0,0,.3);
			max-height: 630px;
			overflow: auto;
		}
		.subMenuShell .subMenuItem,
		.subMenuShell .subMenuItem:link,
		.subMenuShell .subMenuItem:visited,
		.subMenuShell .subMenuItem:hover,
		.subMenuShell .subMenuItem:active
		{
			display: block;
			padding: 3px 45px 4px 10px;
			margin: 0 1px; /* NOTE: need a margin around links, or focus highlight causes menu shell to have scrollbars */
			font-family: Arial;
			font-size: 12px;
			color: #000;
			border: none;
			text-decoration: none;
			white-space: nowrap;
		}
		.subMenuShell .subMenuItemActive,
		.subMenuShell .subMenuItemActive:link,
		.subMenuShell .subMenuItemActive:visited,
		.subMenuShell .subMenuItemActive:hover,
		.subMenuShell .subMenuItemActive:active
		{
			color: #fff;
			background-color: #788;
		}
		.subMenuShell .subMenuItemWithChildren,
		.subMenuShell .subMenuItemWithChildren:link,
		.subMenuShell .subMenuItemWithChildren:visited,
		.subMenuShell .subMenuItemWithChildren:hover,
		.subMenuShell .subMenuItemWithChildren:active {
			background-image: url(../images/tree-menu-right-arrow.gif);
			background-attachment: scroll;
			background-repeat: no-repeat;
			background-position: right center;
		}
		.subMenuShell .divider {
			font-size: 0;
			line-height: 0;
			margin: 6px 10px;
			border-top: solid 1px #ccc;
		}

/*** site menu ***/
	.siteMenuShell {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.siteMenuShell .siteMenuItem,
	.siteMenuShell .siteMenuItem:link,
	.siteMenuShell .siteMenuItem:visited,
	.siteMenuShell .siteMenuItem:hover,
	.siteMenuShell .siteMenuItem:active {
		position: absolute;
		width: 100%;
		height: 100%;
		border: none;
	}

/*** site assistant shell ***/
	#page-siteAssistantShell {
		position: fixed;
		right: 0;
		top: 48px;
		width: 130px;
		bottom: 0;
		box-shadow: -1px 7px 6px 2px rgba(0,0,0,.2);
		z-index: 3;
	}

/*** footer shell ***/
	#page-footerShell {
		margin: 40px -14px 0 -14px;
	}

