#page-index {
	padding:0;
	margin: 0 15px;
}

/*** list items ***/
	#page-index a {
		display: block;
		border: 1px solid #f4f4f4;
		border-radius: 3px;
		overflow: hidden;
		box-shadow: 0 0 7px rgba(0,0,0,.2);
		margin-bottom: 10px;
		background: #fff;
	}
	#page-index a:hover .itemTitleText {
		border-bottom: 1px dotted #f00;
	}
	#page-index a:hover {
		border-color: #aaa;
	}
	#page-index a {
		text-decoration: none;
		color: #000;
	}
	#page-index a .itemTitle {
		display: block;
		padding: 4px 5px 8px 5px;
		background: #f4f4f4;
	}
	#page-index a .itemTitleText {
		font-weight: bold;
		margin-right: 5px;
	}
	#page-index a span.arrow {
		font-size: 9px;
		padding: 0 12px 0 0;
		background: transparent url(../images/icons/black-dotty-arrow-right.gif) no-repeat right top;
	}
	#page-index a .itemBody {
		display: block;
		padding: 8px;
	}
	#page-index a img.fileThumbnail {
		float: right;
		border: none;
		width: 96px;
		height: 96px;
		background: #000;
		margin-bottom: 12px;
		border: 1px solid #aaa;
		box-shadow: 4px 4px 6px rgba(0,0,0,.5);
		-moz-box-shadow: 4px 4px 6px rgba(0,0,0,.5);
		-webkit-box-shadow: 4px 4px 6px rgba(0,0,0,.5);
	}

/*** tour promo (for examples index pages) ***/
	.tourPromo {
		margin-top: 10px;
	}
	.tourPromo .tourPromoHeading {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 5px;
		text-align: center;
		padding: 4px;
		border-bottom: 4px solid #eee;
	}
	.tourPromo .tourPromoText {
		font-size: 11px;
		letter-spacing: 1px;
		line-height: 15px;
		padding: 7px 0 10px 0;
	}
	.tourPromo .tourPromoButtonShell {
		text-align: center;
	}

